/* styles.css */

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a background color for the body */
  body {
    background-color: #333;
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
    margin-top: 10px;
  }

  nav ul {
    list-style: none;
  }

  nav li {
    display: inline;
    margin: 15px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Main Content Styles */
  main {
    margin: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color:#fff;

  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #fff;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
  }

  /* Article Styles */
  .blog-post {
    border-top: 1px solid #333;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color:#fff;
  }
  
  table, th, td {
    border: 1px solid #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }

  /* styles.css */
  .image-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333; 
    color: #fff;
  }
  
  .image-float {
    max-width: 50%;
    margin-right: 20px; 
  }
  
  .text-column {
    flex-grow: 1; 
    text-align: left;
  }


  /* Links Styles */
  a {
    color: #E0D7FF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  